name: Node.js CI

on:
  push:
    branches: module_01
  pull_request:
    branches: module_01

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js
        uses: actions/setup-node@v2
        with:
          node-version: "20.x"
      - run: npm install
      - run: npm test
